<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/hf.css" />
    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=A1tr4q-K9a1a5_mIHM2Ed5bRfFyculK089VD4wzFZvnmXer0V3ULi543HxJs6i4sxpl5Xz51y-3618Sci0ViYKPgrFWmfrAWY9ULE4yRtSo" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cDovL3B5dGhvbi5pdGNhcmxvdy5pZS9lZDIvY2gwNS90ZW1wbGF0ZXMvYmFzZS5odG1s"/></head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
